:root {
    /* Color Palette */

    --primary-color: #25a18e;
    --secondary-color: #7ae582;
    --tertiary-color: #9fffcb;
    --fourth-color: #00a5cf;
    --fifth-color: #004e64;

    /* Color Palette RGB */
    --primary-color-rgb: 37, 161, 142;
    --secondary-color-rgb: 122, 229, 130;
    --tertiary-color-rgb: 159, 255, 203;
    --fourth-color-rgb: 0, 165, 207;
    --fifth-color-rgb: 0, 78, 100;

    /* Alternative Color Palette */
    /*
  --primary-color: #E76F51;
  --secondary-color: #F4A261;
  --tertiary-color: #E9C46A;
  --fourth-color: #264653;
  --fifth-color: #2A9D8F;
*/

    & button {
        background-color: var(--fourth-color);
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;

        --base-color: #213547;
        --base-contrast-color: #ffffff;

        --base-color-rgb: 33, 53, 71; /* #213547 */
        --base-contrast-color-rgb: 255, 255, 255; /* #ffffff */
    }

    button {
        border-color: #213547;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        color: #f9f9f9;
        background-color: #213547;

        --base-color: #f9f9f9;
        --base-contrast-color: #213547;

        --base-color-rgb: 255, 255, 255; /* #ffffff */
        --base-contrast-color-rgb: 33, 53, 71; /* #213547 */
    }

    button {
        border-color: #f9f9f9;
    }
}
