@import "colorPalette.css";

:root {
  font-family: "Berlin Sans FB",serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

h1 {
  font-size: calc(4vh + 4vw);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: calc(3vh + 3vw);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: calc(2vh + 2vw);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: calc(1.5vh + 1.5vw);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: calc(1vh + 1vw);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

p {
  font-size: calc(0.5vh + 0.5vw);
  font-weight: 400;
  margin: 0;
  padding: 0;
}



