

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --base-color: #213547;
    --base-contrast-color: #ffffff;

    --primary-color: #25A18E;
    --secondary-color: #7AE582;
    --tertiary-color: #9FFFCB;
    --fourth-color: #00A5CF;
    --fifth-color: #004E64;

  }

  button {
    background-color: #f9f9f9;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f9f9f9;
    background-color: #213547;

    --base-color: #f9f9f9;
    --base-contrast-color: #213547;

    --primary-color: #25A18E;
    --secondary-color: #7AE582;
    --tertiary-color: #9FFFCB;
    --fourth-color: #00A5CF;
    --fifth-color: #004E64;


    /*
    --primary-color: #E76F51;
    --secondary-color: #F4A261;
    --tertiary-color: #E9C46A;
    --fourth-color: #264653;

     */

  }

  button {
    background-color: #242424;
  }
}